.Navbar{
 background-color: black;
 height: 100px;
 .Navbar_ul{
  
     padding-top: 40px;
    display: flex;
    justify-content: space-between;
    li{
        a{
            color: white;
            font-size: 32px;
        }
    }
 }
}